body{
    background-color:rgb(38, 168, 66);
}


@keyframes fall {
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.heart {
  position: fixed;
  top: 0;
  left: 50%;
}
